body {
  margin: 0;
}

.link,
.link:focus {
  outline: none !important;
  border: none !important;
  text-decoration: none !important;
  color: black;
  border: 0px solid white;
}

.main-container {
  position: relative;
  margin: auto;
  max-width: 768px;
  height: auto;
}

/*****Spinner Loader page ****/
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -555;
  opacity: 0;
  animation: fade 3s linear;
}

@keyframes fade {
  0% {
    z-index: 999;
    opacity: 98%;
    background-color: #353535;
  }
  80% {
    display: block;
    z-index: 999;
    opacity: 10%;
    background-color: #353535;
    opacity: 1;
  }
  100% {
    background-color: whitesmoke;
    z-index: -555;
    opacity: 0;
    display: none;
  }
}
.text {
  width: 50%;
  margin: auto;
  color: #666;
  text-align: center;
  top: 15%;
  position: sticky;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: bold;
  line-height: 1.5;
  font-size: 28px;
  animation: txt 2s infinite;
}

@keyframes txt {
  0% {
    color: #7E7E7E;
  }
  50% {
    transform: scale(1.1);
    color: #99E2D0;
  }
  100% {
    color: white;
  }
}
.ring {
  position: sticky;
  top: 55%;
  left: 35%;
  right: 35%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  animation: 2s ring alternate infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 9px 12px #99E2D0;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 9px 2px #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #99E2D0;
  }
}
/***** Header ****/
header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
header img {
  padding: 14px 0px 5px 0px;
  width: 50%;
}

/***Section Localization****/
.localization {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  width: 100%;
  height: auto;
}
.localization__text h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.fa-location-dot {
  color: #353535;
}

/****Section CTA****/
.cta {
  background-color: #F6F6F6;
  width: 100%;
  padding: 39px 0px 57px 0px;
}
.cta__text h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.cta__text h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-bottom: 27px;
}
.cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta__button a {
  list-style: none;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
}
.cta__button .button {
  border: none;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #FFFFFF;
  padding: 13px 18.75px 13px 18.75px;
  transition: all 0.7s;
}
.cta__button .button:hover {
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  opacity: 85%;
  transform: matrix(1, 0, 0, 1.02, 0, 0);
}

/****Section Functioning****/
.functioning {
  background-color: #FFFFFF;
  padding: 48px 0px 68px 0px;
}
.functioning h2 {
  margin: 0px 0px 26px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.functioning__info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  max-width: 715.49px;
  margin: 0px 32.51px 24.92px 32.51px;
  border: none;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.functioning__info .fa-mobile-screen-button,
.functioning__info .fa-list-ul {
  color: #7E7E7E;
}
.functioning__info .fa-dumpster {
  color: #7E7E7E;
}
.functioning__info .mr-15 {
  margin-right: 15px;
}
.functioning__info .mr-8 {
  margin-right: 8px;
}
.functioning__info .number {
  position: absolute;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
}
.functioning__info .number h5 {
  color: #FFFFFF;
}
.functioning__info .logoinfo {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 30px;
}
.functioning__info:hover i {
  color: #9356DC;
}

/****Section restaurant****/
.restaurant {
  background-color: #F6F6F6;
  padding: 54px 15px 66px 15px;
}
.restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.restaurant__card {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 18px;
  height: auto;
  max-width: 733px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurant__card .news {
  position: relative;
}
.restaurant__card .news__bg {
  position: absolute;
  padding: 7px 9.63px 6px 9px;
  width: 61px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  top: 5%;
  left: 85%;
  background: #99E2D0;
}
.restaurant__card .news__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #008766;
}
.restaurant__card img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 231px;
  object-fit: cover;
}
.restaurant__card h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 16px 0px 5px 13px;
}
.restaurant__card .heart {
  display: flex;
}
.restaurant__card h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0px 0px 12px 13px;
}
.restaurant__card .heart {
  position: relative;
  cursor: pointer;
}
.restaurant__card svg {
  width: 30px;
  position: absolute;
  right: 20px;
  bottom: 16px;
}
.restaurant__card svg.\.heart-main {
  opacity: 100%;
  transition: opacity 1s ease-in-out;
}
.restaurant__card svg.\.heart-main:hover {
  position: absolute;
  fill: transparent;
  transition: opacity 1s ease-in-out;
  stroke: red;
  clip-path: polygon(50% 96%, 100% 46%, 99% 24%, 92% 13%, 84% 7%, 72% 5%, 61% 8%, 51% 18%, 39% 8%, 27% 6%, 17% 6%, 9% 13%, 2% 22%, 0 31%, 1% 43%, 4% 50%);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

/****Section Footer****/
footer {
  background-color: #353535;
  padding: 22px 0px 22px 25px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  color: white;
}
footer .footer__up {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0;
  padding: 0;
}
footer .footer__up .list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 11px;
  color: #FFFFFF;
}
footer .footer__up .list i {
  color: #FFFFFF;
  width: 11px;
}
footer .footer__up .list p {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
footer .footer__down {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 7px;
  padding: 0;
}
footer .footer__down li {
  list-style: none;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 542px) {
  .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    top: 15%;
    font-size: 18px;
  }
  .ring {
    position: sticky;
    top: 55%;
    left: 30%;
    right: 30%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    animation: 2s ring alternate infinite;
  }
  .news__bg {
    transform: translate(-50%, 0%);
  }
}
@media (max-width: 255px) {
  .text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    top: 15%;
    font-size: 15px;
  }
  .ring {
    position: sticky;
    top: 55%;
    left: 25%;
    right: 25%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    animation: 2s ring alternate infinite;
  }
  .news__bg {
    transform: translate(-80%, 0%);
  }
}

/*# sourceMappingURL=styles.css.map */
