body {
  margin: 0;
}

.link,
.link:focus {
  outline: none !important;
  border: none !important;
  text-decoration: none !important;
  color: black;
  border: 0px solid white;
}

.main-container {
  margin: auto;
  max-width: 768px;
  height: auto;
}

/*****Spinner Loader page ****/
.container__loader {
  display: flex;
  position: absolute;
  z-index: 100;
  opacity: 1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #9356DC;
  animation: fade 8s forwards;
}
.container__loader .spinner {
  position: absolute;
  top: 80%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  opacity: 1;
  animation: fade 8s forwards;
}
@keyframes fade {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.container__loader .spinner__loading {
  position: absolute;
  height: 220px;
  width: 220px;
  border: 5px solid #99E2D0;
  border-color: white transparent;
  border-radius: 50%;
  animation: spin 2.3s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(360deg);
  }
}
.container__loader .spinner__loading .spinner__text {
  color: #99E2D0;
  position: absolute;
  top: 35%;
  left: 20%;
}

/***** Header ****/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
header img {
  padding: 14px 0px 5px 0px;
  width: 50%;
}

/***Section Localization****/
.localization {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  width: 100%;
  height: auto;
}
.localization__text h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.fa-location-dot {
  color: #353535;
}

/****Section CTA****/
.cta {
  background-color: #F6F6F6;
  width: 100%;
  padding: 39px 0px 57px 0px;
}
.cta__text h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.cta__text h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-bottom: 27px;
}
.cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta__button button {
  border: none;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #FFFFFF;
  padding: 13px 18.75px 13px 18.75px;
}
.cta__button button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(329deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  transform: matrix(1, 0, 0, 1.04, 0, 0);
}

/****Section Functioning****/
.functioning {
  background-color: #FFFFFF;
  padding: 48px 0px 68px 0px;
}
.functioning h2 {
  margin: 0px 0px 26px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.functioning__info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  max-width: 715.49px;
  margin: 0px 32.51px 24.92px 32.51px;
  border: none;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.functioning__info .fa-mobile-screen-button,
.functioning__info .fa-list-ul {
  color: #7E7E7E;
}
.functioning__info .fa-dumpster {
  color: #9356DC;
}
.functioning__info .mr-15 {
  margin-right: 15px;
}
.functioning__info .mr-8 {
  margin-right: 8px;
}
.functioning__info .number {
  position: absolute;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
}
.functioning__info .number p {
  color: #FFFFFF;
}

/****Section restaurant****/
.restaurant {
  background-color: #F6F6F6;
  padding: 54px 15px 66px 15px;
}
.restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.restaurant__card {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-bottom: 18px;
  height: auto;
  max-width: 733px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurant__card .news {
  position: relative;
}
.restaurant__card .news__bg {
  position: absolute;
  padding: 7px 9.63px 6px 9px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  top: 5%;
  left: 85%;
  background: #99E2D0;
}
.restaurant__card .news__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #008766;
}
.restaurant__card img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
  height: 231px;
  object-fit: cover;
}
.restaurant__card h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 16px 0px 5px 13px;
}
.restaurant__card .heart {
  display: flex;
}
.restaurant__card h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0px 0px 12px 13px;
}
.restaurant__card .heart-checkbox {
  display: none;
  clip-path: polygon(48% 95%, 94% 51%, 100% 29%, 94% 19%, 88% 13%, 80% 9%, 72% 8%, 64% 8%, 57% 11%, 51% 17%, 48% 22%, 39% 14%, 32% 10%, 26% 8%, 18% 11%, 14% 16%, 12% 23%, 11% 30%, 9% 35%, 8% 41%, 8% 46%);
}
.restaurant__card .heart-checkbox:checked + .heart {
  position: absolute;
  left: 88%;
  top: 83%;
  width: 33px;
  height: 35px;
  clip-path: polygon(50% 96%, 100% 46%, 99% 24%, 92% 13%, 84% 7%, 72% 5%, 61% 8%, 51% 18%, 39% 8%, 27% 6%, 17% 6%, 9% 13%, 2% 22%, 0 31%, 1% 43%, 4% 50%);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.restaurant__card .size {
  position: absolute;
  left: 88%;
  top: 83%;
  max-width: 33px;
  height: 35px;
}

/****Section Footer****/
footer {
  background-color: #353535;
  padding: 22px 0px 22px 25px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  color: white;
}
footer .footer__up {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 0;
  padding: 0;
}
footer .footer__up .list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 11px;
  color: #FFFFFF;
}
footer .footer__up .list i {
  color: #FFFFFF;
  width: 11px;
}
footer .footer__up .list p {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
footer .footer__down {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 7px;
  padding: 0;
}
footer .footer__down li {
  list-style: none;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 542px) {
  .news__bg {
    transform: translate(-50%, 0%);
  }
}
@media (max-width: 255px) {
  .news__bg {
    transform: translate(-80%, 0%);
  }
}

/*# sourceMappingURL=styles.css.map */
