@import "../sass/mixin.scss";
@import "../sass/variable.scss";

@media (min-width: 769px) {
    .main-container {
        overflow: hidden;
        border: 1px solid red;
        max-width: 1440px;
    }

    header {
        & img {
            width: 20%;
        }
    }

    /*****Section CTA****/
    .cta {
        padding: 30px 0px 30px 0px;
        &__text {
            h2 {
                @include Roboto($size: 40px);
                margin: 0;
            }
        }
    }
    /***Section Functioning***/
    .functioning {
        h2 {
            width: 1128px;
            margin: auto;
            padding-left: 32.51px;
            padding-bottom: 25px;
        }

        .flex-row {
            display: flex;
            justify-content: center;
        }
        &__info {
            width: 322.49px;
        }
    }

    /***Section Restaurant***/
    .restaurant {
        padding: 29px 175px 29px 175px;
        margin: auto;
        .flex-resto {
            display: flex;
            margin-bottom: 30px;
            gap: 100px;
            .link {
                width: 100%;
            }
        }
        &__card {
            width: 100%;
            margin: auto;
            .news__bg {
                left: 75%;
                @media (max-width: 1105px) {
                        transform:translate(-50%, 0%);
                }
            }
            .heart {
                padding-right: 0px;
            }
        }
    }

    /***Section Footer***/
    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 1440px;
        margin: auto;
        height: 114px;
        padding: 0;
        h2 {
            padding-top: 67px;
            padding-right: 26.42px;
            padding-bottom: 30px;
            padding-left: 96px;
        }
        .desktop-footer {
            display: flex;
            gap: 70px;
            flex-direction: row;
            align-items: baseline;
        .footer__up {
            padding-top:64px ;
            flex-direction: row;
            gap: 17px;
            .list p {
                margin-left: 10px;
            }
        }
        .footer__down {
            padding-top: 64px;
            flex-direction: row;
            gap: 17px;
        }
    }
    }
}