@import "../sass/mixin.scss";
@import "../sass/variable.scss";

@media (min-width: 769px) {
    .main-container {
        border: 1px solid red;
        max-width: 1440px;
    }

    header {
        & img {
            width: 20%;
        }
    }

    /*****Section CTA****/
    .cta {
        padding: 30px 0px 30px 0px;
        &__text {
            h2 {
                @include Roboto($size: 40px);
                margin: 0;
            }
        }
    }
    /***Section Functioning***/
    .functioning {
        h2 {
            width: 1128px;
            margin: auto;
            padding-left: 32.51px;
            padding-bottom: 25px;
        }

        .flex-row {
            display: flex;
            justify-content: center;
        }
        &__info {
            width: 322.49px;
        }
    }
}



