//font-family
@mixin Roboto($size: 24px, $weight: 700) {
    font-family: 'Roboto', sans-serif;
    font-weight: $weight;
    font-size: $size;
}

@mixin Shrikhand($size: 18px, $weight: 400, $color: black) {
    font-family: 'Shrikhand', cursive;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}


//button

@mixin button-violet {
    border: none;
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #FFFFFF;
    padding: 13px 18.75px 13px 18.75px;
    transition: all 0.7s;

}

@mixin button-white {
    border: none;
    background-color: #F6F6F6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

@mixin button-restaurant {
    border: none;
    background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 186px;
    height: 50px;
    color: white;
    transition: all 0.7s;
}


// link 

@mixin link-page {
    outline: none !important;
    border: none !important;        
    text-decoration: none !important;
    color: black;
    border: 0px solid white;
}

//hover 

@mixin button-hov {
    background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    opacity: 85%;
    transform: matrix(1, 0, 0, 1.02, 0, 0);
}