@import "../sass/mixin.scss";
@import "../sass/variable.scss";


@media (min-width: 769px) {
    .main-container {
        max-width: 1440px;
      }

      .link {
        @include link-page;
      }

      header img {
        width: 25%;
      }

      .relative-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
       .absolute {
        max-width: 1055px;
        .absolute__title {
            justify-content: center;
            gap: 35px;
            .size {
                left: 66%;
            }
        }
        .absolute__foodChoice {
            margin-left: 210px;
            margin-right: 211px;
        }
      }
    }

    /***Section Footer***/
    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 1440px;
        margin: auto;
        height: 114px;
        padding: 0;
        h2 {
            padding-top: 67px;
            padding-right: 26.42px;
            padding-bottom: 30px;
            padding-left: 96px;
        }
        .desktop-footer {
            display: flex;
            gap: 70px;
            flex-direction: row;
            align-items: baseline;
        .footer__up {
            padding-top:64px ;
            flex-direction: row;
            gap: 17px;
            .list p {
                margin-left: 10px;
            }
        }
        .footer__down {
            padding-top: 64px;
            flex-direction: row;
            gap: 17px;
        }
    }
    }
}
