@import "../sass/mixin.scss";
@import "../sass/variable.scss";


body {
    margin: 0;
}

.link,
.link:focus{
    @include link-page;
}

.main-container {
    position: relative;
    margin: auto;
    max-width: 768px;
    height: auto;
}

/*****Spinner Loader page ****/

.spinner {
    background-color: #EAEAEA;
    position: absolute;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: bg 3.3s linear;
    @keyframes bg {
        from {
            display: block;
            opacity: 100%;
        }
        to {
            display: none;
            opacity: 0%;
            z-index: -1;
        }
    }
&__spin {
    position: fixed;
    z-index: 1;
    opacity: 0;
    left: 35%;
    right: 0;
    bottom: 50%;
    top: 50%;
    height: 220px;
    width: 220px;
    border: 5px solid $tertiary-color;
    border-color: peru transparent;
    border-radius: 50%;
    animation: spin 3.3s linear;
    @keyframes spin {
        from {
            display: block;
            opacity: 100%;
            transform: rotate(360deg);
        }
        to {
            display: none;
            opacity: 0%;
            z-index: -1;
        }
    }
    } 
}  

/***** Header ****/

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    & img {
        padding: 14px 0px 5px 0px;
        width: 50%;
    }
}

/***Section Localization****/
.localization {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: #EAEAEA;
    width: 100%;
    height: auto;
    &__text h2{
       @include Roboto($size: 16px, $weight: 500);
    }
}

.fa-location-dot
    {
    color: #353535;
}

/****Section CTA****/
.cta {
    background-color: $bg-lightgrey;
    width: 100%;
    padding: 39px 0px 57px 0px;
    &__text {
        h2 {
            @include Roboto($weight: 700);
            text-align: center;
        }
        h3 {
            @include Roboto($size: 18px ,$weight: 300);
            text-align: center;
            margin-bottom: 27px;
        }
    } 
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            list-style: none;
            text-decoration: none;
            border: none;
            color: $bg-white;
        }
        .button {
            @include button-violet;
        }
        .button:hover {
            @include button-hov;
        }
    }
}

/****Section Functioning****/
.functioning {
    background-color: #FFFFFF;
    padding: 48px 0px 68px 0px;
    h2 {
        margin: 0px 0px 26px 20px; 
        @include Roboto;
    }

    
    &__info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;
        max-width: 715.49px;
        margin: 0px 32.51px 24.92px 32.51px;
        @include button-white;
        @include Roboto($size: 16px, $weight: 500);
        .fa-mobile-screen-button,
        .fa-list-ul {
            color: $icon-info;
        }
        .fa-dumpster{
            color: $icon-info;
        }
        .mr-15 {
            margin-right: 15px;
        }
       .mr-8 {
             margin-right: 8px;
        }
        .number {
            position: absolute;
            left: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 11px;
            background-color: $main-color;
            width: 24px;
            height: 24px;
            & h5 {
                color: #FFFFFF;
            }
        }
        .logoinfo {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-left: 30px;
        }
    }
    &__info:hover i {
        color: $main-color;
    }

}

    /****Section restaurant****/
.restaurant {
    background-color: $bg-lightgrey;
    padding: 54px 15px 66px 15px;
    h2 {
        @include Roboto;
    }

    &__card {
        position: relative;
        background-color: $bg-white;
        border-radius: 15px;
        margin-bottom: 18px;
        height: auto;
        max-width: 733px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        & .news {
            position: relative;
            &__bg {
                position: absolute;
                padding: 7px 9.63px 6px 9px;
                width: 61px;
                text-align: center;
                border-radius: 2px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                top: 5%;
                left: 85%;
                background: #99E2D0;
            }
            &__text {
                @include Roboto($size: 14px, $weight: 500);
                color: #008766;
                
            }
        }
        & img {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        width: 100%;
        height: 231px;
        object-fit: cover;
        }
       & h3 {
        @include Roboto($size: 18px);
        margin: 16px 0px 5px 13px;
       } 
 
       .heart {
        display: flex;
        }
       & h4 {
        @include Roboto($size: 17px, $weight: 300);
        margin: 0px 0px 12px 13px;
       }

// Animation coeur  
     .heart {
        position: relative;
        cursor: pointer;
     }

     svg {
        width: 30px;
        position: absolute;
        right: 50px;
        bottom: 16px;
     }

     svg.\.heart-main:hover {
        position: absolute;
        fill: transparent;
        stroke: white;
        clip-path: polygon(50% 96%, 100% 46%, 99% 24%, 92% 13%, 84% 7%, 72% 5%, 61% 8%, 51% 18%, 39% 8%, 27% 6%, 17% 6%, 9% 13%, 2% 22%, 0 31%, 1% 43%, 4% 50%);
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
     }
    }
}

/****Section Footer****/
footer {
    background-color: $bg-footer;
    padding: 22px 0px 22px 25px;
     h2 {
        @include Shrikhand($color: white);
    }
    .footer__up{
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin: 0;
        padding: 0;
    
        .list {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 11px;
            color: $bg-white;
            i {
                color: $bg-white;
                width: 11px;
            }
            p {
               margin: 0px;
               @include Roboto($size: 16px, $weight: 500);
            }
        }
    }
    .footer__down {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-top: 7px;
        padding: 0;
        & li {
            list-style: none;
            color: $bg-white;
            @include Roboto($size: 16px, $weight: 400);

        } 
    }
    }



    @media (max-width: 542px) {
       
        .news__bg {
            transform:translate(-50%, 0%);
        }
} 

     @media (max-width: 255px) {
        .news__bg {
            transform:translate(-80%, 0%);
        }
    }